*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
body{   
    background-color: #aaaa88;
}
.container{ 
    max-width: 900px;
    margin: 0 auto;
    background: white;
}
.header{
    background: url('../images/logo.jpg');
    height: 200px; 
}
h1{
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    text-indent: 200px;
}
h2{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    background-color: #aaaa88;
    padding: 0 10px ;
}
ul{
    list-style: none;
}
ul::after {
    content: "";
    clear: both;
    display: table;
  }
li{
    width: 12.5%;
    float:left;
    border: 1px solid white;
    text-align: center;
}
li:first-child{
    border-left: none;
}
li:last-child{
    border-right: none;
}
a{
    width: 100%;
    background-color: orange;
    display: inline-block;
    padding: 10px;
    color:  #ddd;
    text-decoration: none;
    font-size: .8rem;
}
a:hover{
    color: white;
    text-decoration: underline;
}
.news{
    
    width: 50%;
    float: left;
    text-align: justify;
    padding: 0 10px;
}
.content{
    size: 900px 750px;
}
content::after {
    content: "";
    clear: both;
    display: table;
}
.kep1{
    float: left;
    margin: 5px 5px 5px 0;
}
.kep2{
    float: right;
    margin: 0 0 0 5px ;
}
.footer{
    font-size: .5rem;
    color: orange;
    background-color: white;
    text-indent: 380px;
}
